.wrapper{
  background-color: #DFDFDF;
}

.navbarcolors{
  background-color:#343434 ;
}

.username-code{
  color: #0E34A0;
}

.newpost-id{
  background-color: #5F5980;
  color: white;
}

.mainsectionsthing{
  background-color: #DFDFDF;
}

.mt-0 {
  margin-top: 0 !important;
}