{% extends 'social/base.html' %}
{% load static %}

{% block contents %}
<div class="main-list">
    <h1 class="welcom-txt">Feed</h1>
    {% for post in posts %}
        <div class="mb-4">
            <h2 class=""><a class="mt-0 text-decoration-none username-code" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="post-txt mb-0 truncate" id="clamp-this-module" >{{ post.contents }}</p>
            <small class="date-txt">{{ post.date_posted|date:"F d, Y" }}</small>        
        </div>
    {% endfor %}
    

</div>
{% endblock %}