{% extends 'social/base.html' %}
{% load static %}
{% block contents %}
  <article class="media content-section">
    <div class="container jobs">      
      <h2 class="username-code">{{ object.title }}</h2>
      <p class="monkey-text">{{ post.contents }}</p>
      <div class="article-metadata">
        <a class="mr-2 nounderline username-code" href="#">{{ object.author }}</a>
        <small class="welcom-png">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            <a class="btn btn-sm my-2 newpost-id" href="{% url 'post-update' object.id %}">Update</a>            
          </div>
        {% endif %}
      </div>
    </div>
  </article>

{% endblock %}