{% extends "social/base.html" %}
{% load crispy_forms_tags %}
{% block contents %}
    <div class="container jobs monkey-text somenewtxt">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="mb-4 username-code big-text">New Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock contents %}